<h1>Student Information</h1>
<div>
    <ul>
      <li *ngFor="let student of service.getStudent()">
        {{student.name}} is {{student.gender}}
      </li>
    </ul>
    </div>

    <table mat-table *ngFor="let dataSource of apidata" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
            <ng-container matColumnDef="userId">
              <th mat-header-cell *matHeaderCellDef>userId</th>
              <td mat-cell >{{dataSource.userId}}</td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>id</th>
              <td mat-cell >{{dataSource.id}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>title</th>
              <td mat-cell >{{dataSource.title}}</td>
            </ng-container>
            <ng-container matColumnDef="completed">
              <th mat-header-cell *matHeaderCellDef>completed</th>
              <td mat-cell >{{dataSource.completed}}</td>
            </ng-container>
        
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    